@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Admont is a library collection management system built with ASP.net Core and the latest web technologies. It is a practice project to get up to speed with web development.</p>
<p>When completed it will offer the following features:</p>
<ul>
    <li>Tracking of a variety of book data points including Author, Title, Publisher, Date of acquisition and Subject.</li>
    <li>Support for the Dewey classification system.</li>
    <li>Searching by any of the main data points</li>
</ul>