@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Admont</h1>
    <p class="lead">A library management system built with ASP.net Core.</p>
    <hr class="my-4">
    <p>Easily classify and search hundreds of books, including book and author data. Book location information allows for multiple libraries, and borrower information helps keep track of books out on loan.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
